@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,300;8..144,400;8..144,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,800;1,100;1,200;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .border-bottom{
       @apply  border-b-[3px] outline-none;
    }
}

.transition-transform {
    transition-property: transform;
}

.react-slick {
    width: 100%;
    overflow: hidden;
    /* Prevents the slider from overflowing its container */
}

.react-slick .slick-list {
    overflow: visible !important;
    /* Allows the slider content to overflow its container */
}

.react-slick .slick-slide img {
    height: 100%;
}